[submodule "src/rtabmap_ros"]
	path = src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros
[submodule "src/my_robot"]
	path = src/my_robot
	url = https://github.com/daniel-m-campos/my_robot.git
[submodule "src/teleop_twist_keyboard"]
	path = src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
